@import 'vars';
@import 'media';
@import '~normalize.css';
@import 'stylesheet';
@import 'theme-variable';
@import './components/tooltip';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

// Переопределяем фон для выделенных элементов
::selection {
  background: var(--selection-color);
  color: var(--primary-text);
}

body {
  font-family: $--font-base;
  font-weight: $--font-weight-regular;
  font-size: $--font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// ! fix of iOS auto zoom
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
select:focus,
textarea {
  font-size: 16px;
}

// ! fix of iOS shadow
input:not([type='checkbox']):not([type='radio']),
textarea,
select:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// ! fix of iOS text-color
input[disabled],
textarea[disabled],
select[disabled] {
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  -webkit-opacity: 1;
  color: rgba(0, 0, 0, 1);
}
